:root {
  --green: #2a9d8f;
  --darkblue: #264653;
  --orange: #e76f51;
  --lightorange: #ffa500;
  --yellow: #e9c46a;
}
body {
  /* This is the body of the page */
  padding: 0;
  margin: 0;
  margin-top: 80px;
  list-style-type: none;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--green);
}
.logocontainer .companylogo {
  /* This is the logo on the top left corner */
  width: 80px;
  height: 80px;
}

.navbar {
  /* This is the navbar */
  position: fixed; /* Set the navbar to fixed position, so it stays still when you scroll down and up */
  top: 0; /* Position the navbar at the top of the page, fixed position*/
  width: 100%; /* Full width, otherwise it only takes a fixed size of the screen width */
  background-color: var(--darkblue);
  display: flex; /* make the navbar adapt to screen size */
  justify-content: space-around;
  height: 80px;
  align-items: center;
  z-index: 1; /* This makes the navbar appear on top of the carousel */
}
nav .navbar-toggle {
  display: none;
  height: min-content;
  margin-top: 95%;
  padding-bottom: 0;
  cursor: pointer;
}
nav .navbar-toggle p {
  font-size: 4.1em;
  margin-bottom: 0;
  margin-left: 60%;
}
.navlist {
  list-style-type: none; /* remove the points before the list items */
  margin: 0;
}

.listitem {
  display: inline-block; /* makes list items inline, so they appear next to each other horizontally */
  padding: 30px;
  justify-content: space-between;
}
.navbar a {
  /* Modifies reference on navbar */
  color: white;
  text-decoration: none;
}
.navbar li:hover {
  /* Describes what happens when a link on navbar is hovered on*/
  background-color: var(--orange);
}
.navbar li:last-child:hover {
  padding: 20px;
  background-color: var(--darkblue);
}
footer {
  /* This is the footer */
  background-color: var(--darkblue);
  color: #fff;
  padding: 20px 0; /* 20px top and bottom, 0 left and right */
  font-family: Arial, sans-serif; /* font family */
}

.footer-container {
  /* This is the footer */
  display: flex;
  justify-content: space-between; /* This makes the footer appear in the middle of the page */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; /* 0 top and bottom, 15px left and right */
}

.footer-section {
  flex: 1; /* flex: 1 means that the footer sections will take up equal space */
  margin-right: 20px; /* 20px margin between each footer section */
}

.footer-section:last-child {
  /* This is the last footer section */
  margin-right: 0; /* This removes the margin between the last footer section and the footer container */
}

.footer-section h3,
.footer-section h4 {
  margin-bottom: 15px; /* 15px margin bottom for the h3 and h4 */
}

.footer-section p,
.footer-section a {
  margin-bottom: 10px; /* 10px margin bottom for the p and a */
  display: block; /* This makes the p and a appear in a block */
  color: #fff;
  text-decoration: none; /* This removes the underline from the links */
}

.footer-section a:hover {
  color: var(
    --lightorange
  ); /* This changes the color of the links when hovered on */
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  background-color: #222;
  color: #fff;
  margin-top: 20px;
}

.price {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.buy-btn {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #2a9d8f;
  margin-left: -10px;
  color: var(--yellow);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
}

.buy-btn:hover {
  background-color: var(--orange);
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.popup:target {
  display: block;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--darkblue);
  padding: 20px;
  text-align: center;
  border-radius: 4px;
  width: 300px;
}

.popup-content h2 {
  margin-bottom: 10px;
}

.popup-content p {
  margin-bottom: 20px;
}

.close-btn {
  padding: 10px 20px;
  background-color: var(--darkblue);
  color: var(--yellow);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: var(--green);
}

@media (max-width: 728px) {
  /* This is the media query for the navbar */
  nav .navlist {
    display: grid;
    position: absolute;
    background-color: var(--darkblue);
    width: 100%;
    transform: translateY(-400%);
    z-index: -1;
    transition: 0.6s;
    padding-left: 0;
  }
  nav .navbar-toggle {
    display: flex !important;
  }
}

input {
  /* This is the input for the navbar */
  display: none;
}

input:checked ~ .navlist {
  /* This is the input for the navbar */
  transform: translateY(0%);
  z-index: 1;
}

.attraction-container {
  /*Main container of attraction flex boxes. */
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
}

.attraction-child {
  flex: 1;
  border: 2px solid var(--lightorange);
  background-color: var(--darkblue);
  margin: 5px; /* Seperates the boxes from one and another and adds margin with website border*/
  border-radius: 40px;
}

#attractions {
  /*These are the seperate attraction types inside grid flex boxes. They contain images of attractions and their short description */
  width: auto;
  height: 200px;
  margin: auto;
  display: flex;
}

.attraction-child p {
  /* These are the descriptions of attractions inside the boxes */
  text-align: center;
  font-size: large;
}
.attraction-child:hover {
  transform: scale(1); /* Increase the scale to zoom in */
  transition: transform 0.3 ease; /* Add a smooth transition effect */
}
