body {
  /* This is the body of the page */
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #2a9d8f;
}
.logocontainer .companylogo {
  /* This is the logo on the top left corner */
  width: 80px;
  height: 80px;
}

.navbar {
  /* This is the navbar */
  position: fixed; /* Set the navbar to fixed position, so it stays still when you scroll down and up */
  top: 0; /* Position the navbar at the top of the page, fixed position*/
  width: 100%; /* Full width, otherwise it only takes a fixed size of the screen width */
  background-color: #264653;
  display: flex; /* make the navbar adapt to screen size */
  justify-content: space-around;
  height: 80px;
  align-items: center;
  z-index: 1; /* This makes the navbar appear on top of the carousel */
}
nav .navbar-toggle {
  display: none;
  height: min-content;
  margin-top: 95%;
  padding-bottom: 0;
  cursor: pointer;
}
nav .navbar-toggle p {
  font-size: 4.1em;
  margin-bottom: 0;
  margin-left: 60%;
}
.navlist {
  list-style-type: none; /* remove the points before the list items */
  margin: 0;
}

.listitem {
  display: inline-block; /* makes list items inline, so they appear next to each other horizontally */
  padding: 30px;
  justify-content: space-between;
}
.navbar a {
  /* Modifies reference on navbar */
  color: white;
  text-decoration: none;
}
.navbar li:hover {
  /* Describes what happens when a link on navbar is hovered on*/
  background-color: #e76f51;
}
.navbar li:last-child:hover {
  padding: 20px;
  background-color: #264653;
}
footer {
  /* This is the footer */
  background-color: #264653;
  color: #fff;
  padding: 20px 0; /* 20px top and bottom, 0 left and right */
  font-family: Arial, sans-serif; /* font family */
}

.footer-container {
  /* This is the footer */
  display: flex;
  justify-content: space-between; /* This makes the footer appear in the middle of the page */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; /* 0 top and bottom, 15px left and right */
}

.footer-section {
  flex: 1; /* flex: 1 means that the footer sections will take up equal space */
  margin-right: 20px; /* 20px margin between each footer section */
}

.footer-section:last-child {
  /* This is the last footer section */
  margin-right: 0; /* This removes the margin between the last footer section and the footer container */
}

.footer-section h3,
.footer-section h4 {
  margin-bottom: 15px; /* 15px margin bottom for the h3 and h4 */
}

.footer-section p,
.footer-section a {
  margin-bottom: 10px; /* 10px margin bottom for the p and a */
  display: block; /* This makes the p and a appear in a block */
  color: #fff;
  text-decoration: none; /* This removes the underline from the links */
}

.footer-section a:hover {
  color: #ffa500;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  background-color: #222;
  color: #fff;
  margin-top: 20px;
}

.price {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.buy-btn {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #2a9d8f;
  margin-left: -10px;
  color: #e9c46a;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
}

.buy-btn:hover {
  background-color: #e76f51;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.popup:target {
  display: block;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #264653;
  padding: 20px;
  text-align: center;
  border-radius: 4px;
  width: 300px;
}

.popup-content h2 {
  margin-bottom: 10px;
}

.popup-content p {
  margin-bottom: 20px;
}

.close-btn {
  padding: 10px 20px;
  background-color: #264653;
  color: #e9c46a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #2a9d8f;
}

#attractionslide {
  /* This is the carousel */
  text-align: center;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.slide-player {
  /* This is the carousel */
  width: 300%;
  animation: carouselAnimation 12s ease infinite; /* 4 images * 4s = 16s */
}

.slide {
  /* This is the carousel */
  position: relative; /* Add this line */
  float: left;
  width: 33.3%;
}

.slide-content {
  /* This is the image of the attraction */
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 16px;
  top: 80px;
}
.slide-content img {
  /* This is the image of the attraction */
  width: 100%;
  height: auto;
}

@keyframes carouselAnimation {
  /* This is the carousel */
  20% {
    margin-left: 0%;
  }
  40% {
    margin-left: -100%;
  }
  60% {
    margin-left: -100%;
  }
  80% {
    margin-left: -200%;
  }
  90% {
    margin-left: -200%;
  }
  100% {
    margin-left: 0%;
  }
}

.description {
  /* This is the description of the attraction */
  position: absolute;
  bottom: 20%;
  left: 0;
  width: 100%;
  background-color: #222;
  color: #fff;
  font-size: 16px;
}

.description h1 {
  /* This is the title of the attraction */
  text-align: center;
  font-size: 1em;
  margin: 15px;
}
@media (max-width: 728px) {
  /* This is the media query for the navbar */
  nav .navlist {
    display: grid;
    postition: absolute;
    background-color: #264653;
    width: 100%;
    transform: translateY(-400%);
    z-index: -1;
    transition: 0.6s;
    padding-left: 0;
  }
  nav .navbar-toggle {
    display: flex !important;
  }
  #ticketpurchase {
    font-size: 0.7em;
  }
}

@media (max-width: 450px) {
  #ticketpurchase {
    font-size: 0.5em;
  }
  .description h1 {
    font-size: 0.5em;
  }
}
input {
  /* This is the input for the navbar */
  display: none;
}

input:checked ~ .navlist {
  /* This is the input for the navbar */
  transform: translateY(0%);
  z-index: 1;
}

@media screen and (min-width: 728px) {
  #attractionslide {
    max-width: 50%;
    height: auto;
  }
  .slide {
    height: 50%;
  }
}

.ticketcontainer {
  display: flex;
  flex-wrap: wrap;
}
.tiercontainer {
  flex: 1;
  border: 2px solid #e9c46a; /* Add "solid" to specify the border style */
  background-color: #264653; /* Update the background color to a lighter tone */
  margin: 10px; /* Adjust the margin for a more compact look */
  padding: 20px; /* Add padding for better spacing within the containers */
  border-radius: 8px; /* Add some border radius for a rounded look */
  box-sizing: border-box; /* Add box-sizing to make sure the padding is included in the width and height */
}
.tiercontainer h1 {
  text-align: center;
  font-size: 1.5em;
  margin: 0px;
  color: #e9c46a;
}
.tiercontainer ul {
  padding-left: 20px;
  list-style-type: disc;
  list-style-position: outside;
}
